<mat-card>
  <form (submit)="onSavePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" [ngModel]="post.title" required minLength="3" #title="ngModel" placeholder="Title">
      <mat-error *ngIf="title.invalid">Please Enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="6" name="content" [ngModel]="post.content" required #content="ngModel"placeholder="Content"></textarea>
      <mat-error *ngIf="content.invalid">Please Enter post content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">save post</button>
  </form>
</mat-card>
